.cart{
  margin: 40px 0 60px;
  .title{
    text-align: center;
    font-size: 28px;
  }
  .books-container{
    margin-left: 0;
    margin-right: 0;
    padding: 5px;
    .book{
      position: relative;
      margin-left: 0;
      margin-right: 0;
      list-style: none;
      border: 2px solid #337ab7;
      padding: 5px;
      .cover{
        width: 150px;
        height: 200px!important;
        float: left;
      }
      .book-info{
        text-align: left;
        display: block;
        font-size: 16px;
        line-height: 33px;
        .label{
          width: auto;
          margin: 2px 5px 2px 0;
        }
      }
      .spinner-input{
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      .number-stepper{
        width:130px;
        position: absolute;
        float: right;
        bottom: 10px;
        right: 10px;
        .spinner-down, .spinner-up{
          background-color: #337ab7;
        }
      }
    }
  }
  .update-button{
    float: right;
    margin-right: 10px;
  }
  .result{
    float: right;
    margin-right: 10px;
    line-height: 36px;
    font-size: 16px;
  }
}