$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "variables";
@import "mixins";
@import "header";
@import "footer";
@import "cart";
@import "mobile";

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.library,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.library {
  margin: 40px 0 60px;
}
.container {
  max-width: 980px;
}

body {
  font-family: 'Lato';
  padding: 0;
  user-select: none;
}

.library-title{
  text-align: center;
  font-size: 28px;
}

.bg-danger{
  padding: 5px;
}

.books-container{
  .book{
    margin-bottom: 20px;
    .cover{
      height: 330px;
      background-image: url("http://placehold.it/400x600");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
    .label{
      display: inline-block;
      float: left;
      width: 100%;
    }
    .book-info{
      text-align: center;
      display: block;
      font-size: 16px;
      .label-price{
        font-weight: 800;
        color: #8a6d3b;
      }

      .title{
        display: block;
        font-weight: bold;
      }
      .label{
        width: auto;
        padding: 8px;
      }
      .price{
        line-height: 28px;
        margin-left: 3px;
      }
    }
    .select-button{
      margin: 10px auto;
      width: 100px;
      position: relative;
      display: block;
      text-transform: uppercase;
    }
  }
}

.go-to-cart{
  float: right;
}



.animate-fadein{
  opacity: 1;
  &.ng-hide{
    opacity: 0;
  }
  &.ng-hide-add, &.ng-hide-remove{
    @include transition(all, 0.8s, ease)
  }
}