$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "variables";
@import "mixins";
@import "header";
@import "footer";
@import "cart";
@import "mobile";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Lato';
  padding: 0;
  user-select: none;
}

.library-title{
  text-align: center;
}

.bg-danger{
  padding: 5px;
}

.books-container{
  .book{
    margin-bottom: 20px;
    .cover{
      height: 330px;
      background-image: url("http://placehold.it/400x600");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
    }
    .label{
      display: inline-block;
      float: left;
      width: 100%;
    }
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.library,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.library {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
.container {
    max-width: 980px;
  }

.animate-fadein{
  opacity: 1;
  &.ng-hide{
    opacity: 0;
  }
  &.ng-hide-add, &.ng-hide-remove{
    @include transition(all, 0.8s, ease)
  }
}