
/* Mixins */
@mixin transition($p, $d, $f){
  -webkit-transition: $p $d $f;
  -moz-transition: $p $d $f;
  -o-transition: $p $d $f;
  transition: $p $d $f;
}

@mixin transform($value){
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}