<div class="row library animate-fadein ng-hide" ng-show="main.booksLoaded">
  <h4 class="row library-title">Harry Potter</h4>
  <div class="row books-container">
    <div class="book col-md-3 col-lg-3 col-sm-6" ng-repeat="book in main.books">
      <div class="cover" imageloaded="{{book.cover}}" ></div>
      <!--<img class="cover" ng-src="{{book.cover}}"/>-->
      <span class="label label-primary">{{book.price}}</span>
      <span class="label label-info">{{book.title}}</span>
      <button type="button" class="btn"
              ng-class="{'btn-success selected': book.selected, 'btn-info': !book.selected}"
              ng-click="main.checkBook(book)"
              data-isbn="{{book.isbn}}">
        {{book.selected? 'selected' : 'select'}}
      </button>
    </div>
  </div>
  <button ng-click="main.ShowSelected()">Go to cart</button>
  <span class="bg-danger animate-fadein" ng-show="main.showWarningText">Please select at least one book!</span>
</div>
